body {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  font-size: 22px;
}

.header{
  display: flex;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  background-color: black;
}

.logo img{
  height: 50px;
  margin-left: 10px;
}

.nav{
  display: flex;
  justify-content: space-around;
  width: 500px;
  text-decoration: underline;
}

a:visited{
  color: seashell;
}

.pages{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mission{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  align-items: center;
  justify-content: center;
}

.banner{
  width: 1200px;
  text-align: center;
  background-color: black;
}

.featured-tea{
  width: 1000px;
  justify-content: center;
  margin: 80px 0;
}

.teas{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea img{
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}

.locations{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin-left: 20px;
  text-align: center;
}

.container-locations{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}

.location{
  width: 300px;
  height: 300px;
  margin: 40px;
  background-color: black;
  opacity: 1;
}

.footer{
  background-color: black;
  height: 200px;
  width: 100%;
}

.copyright{
  text-align: left;
  background-color: black;
  margin-left: 20px;
}

h2, h3, h4, h5, span{
  font-weight: bold;
}
